<ion-header>
    <ion-navbar mode="ios" color="dark"  hideBackButton>
        
        <ion-buttons start>
          <button ion-button icon-only color="light" (tap)="goBack()">
            <img src="assets/imgs/retour.png">Minha à Paris
          </button>
        </ion-buttons>
       
    <ion-title></ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <div #map id="map" class="map"></div>
</ion-content>
