<ion-tabs color="dark" mode="md">
  <ion-tab [root]="tab1Root" tabTitle="Minha à Paris" tabIcon="mh-paris"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Sidour" tabIcon="mh-sidour"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Horaires" tabIcon="mh-hoaire"></ion-tab> 
  
</ion-tabs>
