<ion-header>
  <ion-navbar color="dark">
      <ion-buttons left start>
      <button ion-button color="light" outline (click)="changePreference()">
          {{textButton}}
        </button>
      </ion-buttons>
    <ion-title>Sidour</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
<ion-list>
  <p align="center">{{titleContent}}</p>
  <div [ngSwitch]="phonetique">
      <div *ngSwitchCase="1">
        <ion-item  detail-push (click)="showPriere('Bénédictions du matin',1)"> 
          <ion-label>Bénédictions du matin</ion-label>
        </ion-item>
        <ion-item detail-push (click)="showPriere('Achère Yatsar phonétique',2)">
            <ion-label>Achère Yatsar phonétique</ion-label>
          </ion-item>
          <ion-item detail-push (click)="showPriere('Chéma phonétique',3)">
              <ion-label>Chéma phonétique</ion-label>
          </ion-item>
          <ion-item detail-push (click)="showPriere('Amida phonétique',4)">
              <ion-label>Amida phonétique</ion-label>
          </ion-item>
          <ion-item detail-push (click)="showPriere('Chaharit phonétique',5)">
              <ion-label>Chaharit phonétique</ion-label>
          </ion-item>
          <ion-item detail-push (click)="showPriere('Minha phonétique',6)">
              <ion-label>Minha phonétique</ion-label>
          </ion-item>
          <ion-item detail-push (click)="showPriere('Arvith phonétique',7)">
              <ion-label>Arvith phonétique</ion-label>
          </ion-item>
          <ion-item detail-push (click)="showPriere('Birkat Hamazone phonétique',8)">
              <ion-label>Birkat Hamazone phonétique</ion-label>
          </ion-item>
          <ion-item detail-push (click)="showPriere('',9)">
              <ion-label>Mé'ène Chaloche phonétique</ion-label>
          </ion-item>
          <ion-item detail-push (click)="showPriere('Kaddiche phonétique',10)">
              <ion-label>Kaddiche phonétique</ion-label>
          </ion-item>
          <ion-item detail-push (click)="showPriere('Birkat Halévana phonétique',11)">
              <ion-label>Birkat Halévana phonétique</ion-label>
          </ion-item>
          <ion-item detail-push (click)="showPriere('‘Halla, Mézouza, Kélime',12)">
              <ion-label>‘Halla, Mézouza, Kélime</ion-label>
          </ion-item>
          <ion-item detail-push (click)="showPriere('Birkat Hahilanot',13)">
              <ion-label>Birkat Hahilanot</ion-label>
          </ion-item>
          <ion-item  (click)="showYoutube()">
              <ion-label>Aide</ion-label>
            <ion-icon item-end name="logo-youtube"></ion-icon>
          </ion-item>
      </div>
      <div *ngSwitchCase="0">
          <ion-item detail-push (click)="showPriereHebreu(1)">
              <ion-label>Bérakhot du matin ברכות השחר  </ion-label>
          </ion-item>
          <ion-item detail-push (click)="showPriereHebreu(2)">
              <ion-label>Chaharit שחרית </ion-label>
          </ion-item>
          <ion-item detail-push (click)="showPriereHebreu(3)">
              <ion-label>Minha מנחה </ion-label>
          </ion-item>
          <ion-item detail-push (click)="showPriereHebreu(4)">
              <ion-label>Arvith ערבית </ion-label>
          </ion-item>
          <ion-item detail-push (click)="showPriereHebreu(5)">
              <ion-label>Au coucher קריאת שמע על המיטה </ion-label>
          </ion-item>
          <ion-item detail-push (click)="showPriereHebreu(6)">
              <ion-label>Birkat Hamazone ברכת המזוֹן </ion-label>
          </ion-item>
          <ion-item detail-push (click)="showPriereHebreu(7)">
              <ion-label>Mé'ène Chaloche מעין שלוֹש </ion-label>
          </ion-item>
          <ion-item detail-push (click)="showPriereHebreu(8)">
              <ion-label>Achère Yatsar אשר יצר  </ion-label>
          </ion-item>
          <ion-item detail-push (click)="showPriereHebreu(9)">
              <ion-label>Birkat Halévana קידוש הלבנה </ion-label>
          </ion-item>
          <ion-item detail-push (click)="showPriereHebreu(10)">
              <ion-label>Avant un voyage תפלת הדרך </ion-label>
          </ion-item>
          <ion-item detail-push (click)="showPriereHebreu(11)">
              <ion-label>Chévah Bérakhot שבע ברכות </ion-label>
          </ion-item>
          <ion-item detail-push (click)="showPriereHebreu(12)">
              <ion-label>Hachkaba השכבה </ion-label>
          </ion-item>
        </div>
    </div>

</ion-list>
</ion-content>
