page-horaires {
  ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  ion-content {
    &.content {
      .page-bg {
        background-size: cover;
        position: fixed;
        left: 0;
        right: 0;
        top: 56px;
        bottom: 56px;
        z-index: 0;
      }
      .content-top {
        padding: 2rem 0;
        position: relative;
        p {
          margin: 0;
          color: #fff;
          font-size: 1.6rem;
        }
        h2 {
          margin: .5rem 0;
          color: #fff;
          font-weight: 500;
        }
      }
      ion-list {
        &[no-bg] {
          ion-item {
            &.item {
              background: none;
              color: #fff;
              h2 {
                font-weight: 500;
                font-size: 1.8rem;
              }
              [item-right] {
                .button-image {
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  button {
                   p {
                      font-size: 1.7rem;
                    }
                  }
                  .moon-images {
                    display: inline-block;
                    width: 26px;
                    height: 26px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    margin-left: 1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
