<ion-header>
    <ion-navbar color="dark">
        <ion-buttons left start>
            <button mode="md" ion-button icon-only color="light" (click)="precedent()">
              Prec.
            </button>
          </ion-buttons>
      <ion-title>Horaires</ion-title>
      <ion-buttons end>
        <button mode="md" ion-button icon-only color="light" (click)="suivant()">
          Suiv.
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <div class="page-bg" [ngStyle]="{'background-image': imageFond}"></div>
  <div class="content-top" text-center>
      <p>Pour
        <strong>Paris,</strong>
        <em>source Roger STIOUI</em>
      </p>
      <h2>{{date}}</h2>
      <p>{{dateHebreu}}</p>
    </div>
    <ion-list no-lines mode="ios" no-bg>
        <ion-item *ngIf="bkAubeHidden==false">
            <h2>{{bkAubeText}}</h2>
            <div item-right text-right>
              <div class="button-image">
                <button ion-button clear icon-only mode="ios" color="dark">
                  <p [ngStyle]="{'color': horaireBkAubeTextColor}">{{horaireBkAubeText}}</p>
                </button>
                <div  [ngStyle]="{'background-image': imageLune}" class="moon-images"></div>
              </div>
            </div>
          </ion-item>
      <ion-item>
        <h2>Aube</h2>
        <div item-right text-right>{{aubeTime}}</div>
      </ion-item>
      <ion-item>
        <h2>Début des Téphilines</h2>
        <div item-right text-right>{{debutTime}}</div>
      </ion-item>
      <ion-item>
        <h2>Lever du Soleil</h2>
        <div item-right text-right>{{leverTime}}</div>
      </ion-item>
      <ion-item>
        <h2>Debut de Minha(Guedola)</h2>
        <div item-right text-right>{{heure1Time}}</div>
      </ion-item>
      <ion-item>
        <h2>Plag</h2>
        <div item-right text-right>{{plagTime}}</div>
      </ion-item>
      <ion-item>
        <h2>Coucher du Soleil</h2>
        <div item-right text-right>{{coucherTime}}</div>
      </ion-item>
      <ion-item>
        <h2>Sortie des etoiles</h2>
        <div item-right text-right>{{sortieTime}}</div>
      </ion-item>
      <ion-item *ngIf="bkCoucherHidden==false">
        <h2>{{bkCoucherText}}</h2>
        <div item-right text-right>
          <div class="button-image">
            <button ion-button clear icon-only mode="ios" color="dark">
              <p [ngStyle]="{'color': horaireBkCoucherTextColor}">{{horaireBkCoucherText}}</p>
            </button>
            <div  [ngStyle]="{'background-image': imageLune}" class="moon-images"></div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  