<ion-header>
    <ion-navbar mode="ios" color="dark"  hideBackButton>
        
        <ion-buttons start>
          <button ion-button icon-only color="light" (tap)="goBack()">
            <img src="assets/imgs/retour.png">Retour
          </button>
        </ion-buttons>
       
    <ion-title>{{minian.name}}</ion-title>
    <ion-buttons end>
            <button ion-button icon-only color="light" (tap)="voirItineraire()">
              Itinéraire
            </button>
          </ion-buttons>  
    </ion-navbar>
</ion-header>


<ion-content>
    <div #map id="map" class="map"></div>
</ion-content>
