page-around {
    .semaine{
        color:blue;
    }
    .card {
        .details {
          margin-top: 1rem;
          
        }
        h2{
            font-weight: 600;
            font-size: 1.3rem;
        }
        [item-right]{
            p{
                color: color($colors,dark,base);
                font-weight: 500;
            }
        }
        &[minha-card]{
          ion-item{
            cursor: pointer;
            &.item{
              padding-right: 10px;
              .details{
                margin: 0;
              }
              &:before{
                position: absolute;
                top: 0;
                bottom: 0;
                right: 10px;
                content: "\f3d1";
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: "Ionicons"; 
                opacity: .3;
              }
              h2{
                display: flex;
                align-items:center;
                span{
                  &:not(.distance){
                    flex: 1 1 auto;
                  }
                  &.distance{
                    font-size: 1.2rem;
                    font-weight: 400;
                  }
                }
    
              }
              h3{
                font-weight: 600;
              }
            }
          }
        }
      } 
}
