<ion-header>
    <ion-navbar mode="ios" color="dark"  hideBackButton>
        
        <ion-buttons start>
          <button ion-button icon-only color="light" (tap)="goBack()">
            <img src="assets/imgs/retour.png">
          </button>
        </ion-buttons>
       
    <ion-title>Minha à Paris</ion-title>
    <ion-buttons end>
      <button  ion-button color="light" outline  (click)="goMap()">
        Carte
      </button>
    </ion-buttons>
   
  </ion-navbar>
</ion-header>
<ion-content>
  <p align="center" class="semaine" *ngIf="debut">Semaine du {{debut}} au {{fin}}</p>
   
  <ion-card minha-card mode="ios" *ngFor="let minha of data">
      <ion-item no-lines mode="ios" item-wrap no-lines (click)="voirCarte($event,minha)">
      <h2><span>{{minha.nom}}</span> <span class="distance">{{minha.distance}} km</span></h2>
      <p>{{minha.rue}}</p>
      <p> {{minha.codePostal}} {{minha.ville}}</p>
      <h3 text-right>{{minha.horaire}}</h3>
      <div class="details" (click)="cliqueContact($event)">
        <p>{{minha.jour}}</p>
        <p>Beth Hamidrach</p>
        <p [innerHtml]="minha.contactLink"></p>
        <p>{{minha?.informations}} </p>
      </div>
    </ion-item>
  </ion-card>
 
</ion-content>
 
          