page-minha-a-paris {
  ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .timings {
    margin-top: 10vh;
    h2 {
        font-weight: 600;
    }
    .time{
        font-size: 2rem;
        margin: 1rem 0;
        font-weight: 500;
    }
  }
}
