<ion-header>
  <ion-navbar color="dark">
    <ion-title>Minha à Paris</ion-title>
    <ion-buttons end>
      <button mode="md" ion-button icon-only color="light" (click)="openMinhaAParisMessagePage()">
        <ion-icon ios="md-mail" md="md-mail"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding bg-image-eiffel>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button outline round mode="ios" (click)="openAutour()" ion-button block color="plight">Autour</button>
      </ion-col>
      <ion-col col-6>
        <button outline round mode="ios" (click)="openVilleRP()" ion-button block color="plight">Ville R.P</button>
      </ion-col>
      <ion-col col-6>
        <button outline round mode="ios" (click)="openVilleFR()" ion-button block color="plight">Ville Fr</button>
      </ion-col>
      <ion-col col-6>
        <button outline round mode="ios" (click)="openHeure()" ion-button block color="plight">Heure</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div text-center class="timings" *ngIf="doitAfficher">
    <h2>{{motToDisplay}}</h2>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <div class="time">{{heureGauche}}</div>
        </ion-col>
        <ion-col col-6>
          <div class="time">{{heureDroite}}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
