
/* MaterialDesignIcons.com */

@font-face {
  font-family: 'minha';
  src:  url('../assets/fonts/minha.eot?3zraph');
  src:  url('../assets/fonts/minha.eot?3zraph#iefix') format('embedded-opentype'),
    url('../assets/fonts/minha.ttf?3zraph') format('truetype'),
    url('../assets/fonts/minha.woff?3zraph') format('woff'),
    url('../assets/fonts/minha.svg?3zraph#minha') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ion-md-mh-"],
[class*=" ion-md-mh-"],
[class^="ion-ios-mh"],
[class*=" ion-ios-mh-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'minha' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin makeIcon($arg,
$val) {
  .ion-ios-#{$arg}:before,
  .ion-ios-#{$arg}-circle:before,
  .ion-ios-#{$arg}-circle-outline:before,
  .ion-ios-#{$arg}-outline:before,
  .ion-md-#{$arg}:before,
  .ion-md-#{$arg}-circle:before,
  .ion-md-#{$arg}-circle-outline:before,
  .ion-md-#{$arg}-outline:before {
    content: $val;
  }
}

@include makeIcon(mh-paris,'\e901');
@include makeIcon(mh-sidour,'\e900');
@include makeIcon(mh-hoaire,'\e902');
// @include makeIcon(mh-chat,'\f361');
// @include makeIcon(mh-finances,'\f116');
// @include makeIcon(mdi-plus,'\e90b');

