@import "../theme/icons";
ion-content {
    &.content{
        background: #fafafa;
    }
    &[bg-image-eiffel]{
        &.content{
            background: $bg_eiffel no-repeat center center;
            background-size: cover;
            color: color($colors,plight,base)
        }
    }
    &[dark-list-with-bg]{
        background:color($colors,dark,base);
        ion-list{
            ion-item-divider{
                background: color($colors,danger,base);
                color: color($colors,light,base);
                border: none;
            }
            ion-item{
                background: color($colors,dark,base);
                color: color($colors,plight,base);
                border-bottom: 1px solid rgba(color($colors,light,base), $alpha: 0.05);
                .item-inner{
                    border: none !important
                }
            }
        }
    }
}

ion-tabs{
    .tabbar{
        .tab-button{
            ion-icon{
                font-size: 2rem;
            }
        }
    }
}
ion-card {
    &[minha-card]{
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0,0,0,.08)
    }
}