.ios, .md, .wp {
page-show-priere {
  ion-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }
 .webPage{
        width: 105%;
        height: 105%;
        border: none;
        margin-bottom:-5px;
        }
  
       
  * { 
    margin:0 ;
    padding:0;
  }
  body { margin:0; padding:0; text-align:center }  
  #hold_my_iframe { padding:0px; margin:0 auto; width:100%; height:100% }
}

}
