
<ion-header>
    <ion-navbar  mode="ios" color="dark"  hideBackButton>
        
        <ion-buttons start>
          <button ion-button icon-only color="light" (tap)="goBack()">
            <img src="assets/imgs/retour.png">
          </button>

          <button ion-button icon-only color="light" (tap)="increase()">
              INCREASE
            </button>
        </ion-buttons>
       
      <ion-title>{{titre}}</ion-title>
      <ion-buttons end>
          <button ion-button icon-only color="light" (tap)="decrease()">
            DEC
          </button>

          <button ion-button icon-only color="light" (tap)="increase()">
              INCREASE
            </button>
        </ion-buttons>
    </ion-navbar>
  </ion-header>
<ion-content padding class="no-scroll" >
  
    <iframe id="framepriere" class= 'webPage' name= "framepriere" [src]="safeUrl">
      </iframe>
 <!--


    <iframe id="frame" class= 'webPage' name= "samplePage" [src]="safeUrl">
      </iframe>
    
<div [innerHtml]="priere"></div>

  <table border=0 cellspacing=0 cellpadding=0 id="hold_my_iframe">   
      <iframe id="webPage" class= 'webPage' name= "webPage" [src]="safeUrl"  (load)="dismissLoading()"></iframe>
    </table>
    

 -->
 
</ion-content>
