<ion-header>
  <ion-navbar color="dark">
    <ion-title>Ville</ion-title>
  </ion-navbar>
</ion-header>


<ion-content dark-list-with-bg>
  <ion-list mode="ios">
    <ion-item-group *ngFor="let key of keys">
      <ion-item-divider color="light">{{key}}</ion-item-divider>
      <ion-item *ngFor="let ville of dico[key]" (click)="showVille(ville)">{{ville}}</ion-item>
    </ion-item-group>

  </ion-list>

</ion-content>
